;; shadow-cljs configuration
{:source-paths
 ["src"
  "tests"]

 :dependencies
 []

 :builds {  :lambda { :target :node-script
                    :output-to "dist/main.js"
                    :main core/handler}
            :test { :target :node-test
                    :ns-regexp "_test$"
                    :output-to "dist/node-tests.js"
                    :autorun   true}}}
