;; shadow-cljs configuration
{:dependencies [[funcool/promesa "5.1.0"]]

 :source-paths ["src" "tests"]

 :builds {:lambda {:target :node-library
                   :output-to "dist/main.js"
                   :js-options {:js-provider :shadow
                                :keep-native-requires true}
                   :exports-var core/export}

          :test {:target :node-test
                 :ns-regexp "_test$"
                 :output-to "dist/node-tests.js"
                 :autorun   true}}}