;; shadow-cljs configuration
{:dependencies [[funcool/promesa "5.1.0"]]

 :source-paths ["src" "tests"]

 :builds {:lambda {:target :node-script
                   :output-to "dist/main.js"
                   :main core/handler}
          :test {:target :node-test
                 :ns-regexp "_test$"
                 :output-to "dist/node-tests.js"
                 :autorun   true}}}
